body {
    background-color: gainsboro;
}

img {
    max-width: 100%;
}

header {
    width: 25%;
    float: left;
}

nav {
    width: 70%;
    float: right;
    margin: 8em 3em 0 0;
}

nav li {
    list-style-type: none;
    display: inline-block;
    padding: 2%;
}

nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    
}

main {
    clear: left;
    background-color: #fff;
    padding: 1%;
    font-size: 1.25em;
}

footer {
    color: #fff;
    font-size: 1em;
    text-align: center;
}

footer a {
    color: #fff;
    font-size: 1em;
    text-decoration: none;
}

#weights, #cardio, #training {
    width: 29%;
    float: left;
    margin: 0 2%;
}

#exercises {
    clear: left;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #f2f2f2;
    padding: 1% 2%;
}

#exercises dt {
    font-weight: bold;
}

#exercises dd {
    padding: 0.5% 1% 2% 0;
}

#contact {
    text-align: center;
}

#contact a {
    color: #666600;
    text-decoration: none;
}

.map {
    border: 8px solid #000;
}